.card {
  list-style: none;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  overflow: hidden;
}
.card__image {
  min-height: 282px;
}
.card__description {
  background-color: white;
  color: black;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 25px;
  padding-bottom: 25px;
  padding-left: 20px;
  padding-right: 20px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
.card__title {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 29px;
  margin: 0;
}
.card__like-button {
  background: transparent url(../images/heart-icon.svg) center no-repeat;
  width: 21px;
  height: 18px;
  border: none;
  opacity: 100%;
  cursor: pointer;
}
.card__like-button:hover {
  opacity: 60%;
  transition: opacity 1s linear 0s;
}
