.header {
  margin-top: 45px;
  border-bottom: 1px solid;
  border-bottom-color: rgba(84, 84, 84, 0.7);
}
.header__image {
  margin-bottom: 41px;
}

@media screen and (max-width: 880px) {
  .header {
    width: 100%;
  }
  .header__image {
    margin-left: 27px;
  }
}

@media screen and (max-width: 480px) {
  .header {
    margin-top: 28px;
  }
  .header__image {
    margin-bottom: 32px;
    width: 126px;
    height: 26px;
  }
}
