.header {
  margin-top: 45px;
  border-bottom: 1px solid #545454;
}
.header__image {
  margin-bottom: 41px;
}

@media screen and (max-width: 480px) {
  .header {
    margin-top: 28px;
  }
  .header__image {
    margin-left: 7px;
    margin-bottom: 32px;
    width: 126px;
    height: 26px;
  }
}
